<h3>Spiele am {{ session.printDate() }}</h3>

<div class="row top-buffer">
    <div class="col-sm-3">
      <a href="#/sessions" class="btn btn-default" role="button">&lt; Zurück</a>
      <a href="#/sessions/{{ session.id() }}/newgame" class="btn btn-primary" 
      role="button">Neues Spiel</a>
    </div>
</div>

<table class="table top-buffer">
 <tr>
 	<th>Art</th>
 	<th ng-repeat="player in session.players()">{{player}}</th>
 </tr>
 <tr ng-repeat="game in games | filter: sessionMatch | orderBy: id() ">
    <td>{{game.getGameType().name}}</td>
    <td ng-repeat="player in session.players()">{{game.getValueForPlayerId($index)}}</td>
 </tr>
 <tr>
 	<td><b>Summe</b></td>
 	<td ng-repeat="player in session.players()"><b>{{totalValueForPlayer($index)}}</b></td>
 </tr>
</table>	
