
<h3>Neues Spiel</h3>
<div class="form-group">
      <label for="gType">Spieltyp:</label>
      <select class="form-control" id="gType">
        <option ng-repeat="type in gameTypes">{{type.name}}</option>
      </select>
</div>
<div class="row top-buffer">
    <div class="col-sm-3">
      <a href="#/sessions/{{ session.id() }}" class="btn btn-default" role="button">Abbruch</a>
    </div>
    <div class="col-sm-3">
      <a href="#/sessions/{{ session.id() }}" class="btn btn-success" 
      ng-click="write()" role="button">Ok</a>
    </div>
</div>

</div>
