
<h3>Neues Spiel</h3>

<div class="form-group">
      <label>Spieltyp:
        <select ng-model="gameType" ng-options="type.name for type in gameTypes" 
        class="form-control" ></select>
  	  </label>
</div>

<div class="form-group">
      <label>Spieler:
		<div ng-dropdown-multiselect="" extra-settings="playerSettings" 
		     translation-texts="playerCustomTexts"
		     options="allPlayer" selected-model="playersIds"></div>
  	  </label>
</div>


<div class="row top-buffer">
    <div class="col-sm-3">
      <a href="#/sessions/{{ session.id() }}" class="btn btn-default" role="button">Abbruch</a>
    </div>
    <div class="col-sm-3">
      <a href="#/sessions/{{ session.id() }}" class="btn btn-success" 
      ng-click="write()" role="button">Ok</a>
    </div>
</div>

</div>
