<h3>Termine</h3>

<div class="row">
	<form class="" role="form">
    	<div class="form-group">
        	<div class="col-sm-3">
            	<label class="" for="pl1">Spieler 1</label>
              	<input class="form-control" id="pl1" ng-model="player1">
           	</div>
        </div>
        <div class="form-group">
        	<div class="col-sm-3">
               	<label class="" for="pl2">Spieler 2</label>
                <input class="form-control" id="pl2" ng-model="player2">
            </div>
         </div>
         <div class="form-group">
           	<div class="col-sm-3">
              	<label class="" for="pl3">Spieler 3</label>
               	<input class="form-control" id="pl3" ng-model="player3">
          	</div>
       	</div>
        <div class="form-group">
           	<div class="col-sm-3">
              	<label class="" for="pl4">Spieler 4</label>
        		<input class="form-control" id="pl4" ng-model="player4">
  			</div>
        </div>
   	</form>
</div>
<div class="row top-buffer">
    <div class="col-sm-3">
    	<button class="btn btn-primary" ng-click="write()">Neuer Termin</button>
    </div>
</div>
<div class="table top-buffer">
	<table class="table table-striped">
    	<tbody>
        	  <tr class="row">
            	<th class="col-sm-2 col-xs-2">Datum</th>
              <th class="col-sm-10 col-xs-10">Spieler</th>
            </tr>

            <tr class="row" ng-repeat="session in sessions | orderBy: date" 
                ng-init="isButtonVisible=false"
                ng-swipe-left="isButtonVisible=true"
                ng-mouseenter="isButtonVisible=true"
                ng-swipe-right="isButtonVisible=false"
                ng-mouseleave="isButtonVisible=false">
              <td class="col-sm-2 col-xs-2">{{session.printDate()}}</td>
              <td class="col-sm-10 col-xs-10">
                <div style="position: relative">
                  {{session.printPlayers()}}
                  <div ng-show="isButtonVisible"
                      style="position:absolute; width: 100%; text-align: right; top: -8px;">
                    <button class="btn btn-default" 
                      ng-click="goNext('/sessions/{{session.id()}}')">Bearbeiten</button>
                    <button class="btn btn-danger" ng-click="remove(session)">Löschen</button>
                  </div>
                </div>
              </td>
            </tr>
     	</tbody>
   	</table>
</div>
