<h3>Termine</h3>

<div class="row">
	<form class="" role="form">
    	<div class="form-group">
        	<div class="col-sm-3">
            	<label class="" for="pl1">Spieler 1</label>
              	<input class="form-control" id="pl1" ng-model="player1">
           	</div>
        </div>
        <div class="form-group">
        	<div class="col-sm-3">
               	<label class="" for="pl2">Spieler 2</label>
                <input class="form-control" id="pl2" ng-model="player2">
            </div>
         </div>
         <div class="form-group">
           	<div class="col-sm-3">
              	<label class="" for="pl3">Spieler 3</label>
               	<input class="form-control" id="pl3" ng-model="player3">
          	</div>
       	</div>
        <div class="form-group">
           	<div class="col-sm-3">
              	<label class="" for="pl4">Spieler 4</label>
        		<input class="form-control" id="pl4" ng-model="player4">
  			</div>
        </div>
   	</form>
</div>
<div class="row top-buffer">
    <div class="col-sm-3">
    	<button class="btn btn-primary" ng-click="write()">Neuer Termin</button>
    </div>
    <div class="col-sm-2">
        <a class="larger" ng-click="toggleEdit()">
          <i class="glyphicon glyphicon-cog"></i>
        </a>
    </div>
</div>
<div class="table top-buffer">
	<table class="table table-striped">
    	<tbody>
        	  <tr class="row">
            	<th class="col-sm-2">Datum</th>
              <th class="col-sm-10 justify-align">Spieler
                <a class="larger" ng-click="toggleEdit()">
                  <i class="glyphicon glyphicon-cog"></i>
                </a>
              </th>
            </tr>

            <tr class="row" ng-repeat="session in sessions | orderBy: date" 
                ng-show="!isButtonRow(session.id())" ng-swipe-left="setButtonRow(session.id())">
              <td class="col-sm-2">{{session.printDate()}}</td>
              <td class="col-sm-10">{{session.printPlayers()}}</td>
            </tr>

            <tr class="row" ng-repeat="session in sessions | orderBy: date" 
                ng-show="isButtonRow(session.id())" ng-swipe-right="resetButtonRow(session.id())">
              <td class="col-sm-2">{{session.printDate()}}</td>
              <td class="col-sm-10 right-align">
                <button class="btn btn-default" 
                  ng-click="goNext('/sessions/{{session.id()}}')">Bearbeiten</button>
                <button class="btn btn-danger" ng-click="remove(session)">Löschen</button>
              </td>
            </tr>

     	</tbody>
   	</table>
</div>
